<div class="container">

  <div class="title">
    <h1>Pierre-Emmanuel Tanguy</h1>
    <h2> <em> FullStack Developer </em></h2>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h2> Previous Work</h2>

  <div class="barly-main-wrap">

    <div class="barly-title">
      <h3><strong>Barly</strong></h3>

      <p> <em> A Ruby on Rails app allowing customers to order drinks from their table in participating pubs. </em></p>
    </div>
    <div class="barly-sides">
      <div>
        <p> <strong> Customer Side </strong></p>
      </div>
      <div>
        <p> <strong> Manager Dashboard </strong></p>
      </div>
    </div>


    <div class="barly-wrap">
        <div class="work-Barly">
          <div class="gif">
            <%= image_tag ("barly_landing.gif"), alt: "barly landing page", height: '303', width: '152'%>
          </div>

          <div class="gif">
            <%= image_tag ("browsing_barly.gif"), alt: "barly landing page", height: '303', width: '152'%>
          </div>
        </div>
        <div class="work-Barly">
          <div class="gif-dash">
            <%= image_tag ("barly_dashboard.gif"), alt: "barly landing page", height: '350', width: '500'%>
          </div>
        </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

</div>
